@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico");
.ml-auto {
  font-size: 120%;
  font-weight: bold;
}

.ml-auto:hover {
  font-family: 'Lato', sans-serif;
  color: #de3a52;
}

#dropdown-basic-button {
  font-size: 80%;
  margin-top: 5px;
}

#search-btn {
  border: white;
  margin-left: 5%;
  margin-right: 8%;
  margin-top: 8px;
  height: 80%;
}

#searchbox {
  margin-top: 8px;
  border-radius: 20px;
  border: 2px solid black;
}

.navbar-brand {
  font-family: 'Pacifico';
}
