@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico');
.addproduct{
  .title-seller {
    animation-duration: 3s;
    animation-name: slidein;
    margin-left:25%;
  }
  
  @keyframes slidein {
    from {
      margin-left: 120%;
      width: 300%;
    }
  
    to {
      margin-left: 25%;
      width: 100%;
    }
  }


#my-form{
    margin-top: 30px;
    text-align: center;
    display: block;
  width: 50%;
  height:43%;
  margin:auto;
  text-align: center;
  margin-bottom: 10px;
  
  #form-btn{
    background-color: #129b19;
    border-radius: 20px;
    border:none;
    width: 30%;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    padding:2%;
  }
  #form-btn:hover{
    background-color: #fbaf00;
    color: #da3e52;
    transform: translateY(2px);
    font-weight:800;
   
  }
  }
  .form{
    font-weight: bold;
     font-size: 100%; 
     label{
      font-weight: bold;
      color: black;
      padding:2px;
      float: left;
      
    }
    
    .bg {
      animation:slide 3s ease-in-out infinite alternate;
      background-image: linear-gradient(-60deg, rgb(115, 243, 132) 50%, rgb(136, 149, 156) 50%);
      bottom:0;
      left:-50%;
      opacity:.5;
      position:fixed;
      right:-50%;
      top:0;
      z-index:-1;
    }
    
    .bg2 {
      animation-direction:alternate-reverse;
      animation-duration:4s;
    }
    
    .bg3 {
      animation-duration:5s;
    }
    
    
    
    
    @keyframes slide {
      0% {
        transform:translateX(-25%);
      }
      100% {
        transform:translateX(25%);
      }
    }
    
    font-family: 'Lato', sans-serif;

     input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      margin-right:20%;
      @media only screen and (max-width : 600px) {
        width: 10%;
        
        
         }
    
         @media only screen and (max-width : 910px) {
       
          width: 20%;
      }
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    
      
    
  }
  .wrapper{
    max-width: 50%;
   
    height: 40%;
    text-align: center;
    margin-left: 25%;
}

}