.cart-btn{
    
    background-color: #da3e52;
    margin-left: 13%;
    margin-bottom: 5%;
    color: white;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    &:hover{
        background-color: #fbaf00;
    }   
}